.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.MainTitle {
  font-family: "Roboto";
  font-weight: 100;
  letter-spacing: 8vw;
  font-size: 2rem;
  padding-left: 8vw;
  line-height: 6vh;
}

hr {
  height: 1px;
  background-color: black;
  border: none;
  width: 80%;
  
}

.MenuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.MenuElement {
  padding: 5px 5vw;
  margin: 0px;
  font-size: 1.1rem;
}
.Web3Button-Disconnected {
  background-color: rgb(255, 182, 182);
}
.Web3Button-Connected {
  background-color: rgb(182, 255, 182);

}
.Web3Button {
  border-radius: 20px 0px 0px 20px;
  border-width: 0px;
  padding: 0px 1vw;
  height: 100%;
  width: 15vw;
}


.MenuActive {
  font-weight: 900;
}

.ContentContainer {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  width: 80vw;
  height: 60vh;
  margin: 5vh;
  box-shadow: 20px 20px;
  display: flex;
  flex-direction: column;
}

.ExContainer {
  border-radius: 0px;
  border-style: solid;
  border-width: 1px;
  width: 95%;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 25px 0px 0px 0px;
  padding: 5px 0px;
  

}
.ExRate {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}
.ConvContainer {
  width: 95%;
  height: 85%;
  border-radius: 10px;
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.BTCContainer {
  width: 20%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  align-self: center;
  border-radius: 10px;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 0px 20px -10px;
}
.EnergyContainer {
  width: 20%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  align-self: center;
  border-radius: 10px;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 0px 20px -10px;
}
.EnergySymbol {
  height: 87%;
  margin: 0px;
  max-width: 95%;
  display: flex;
  justify-content: center;
}
.PlugSymbol {
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  font-size: 300%;
  font-family: emoji, "Roboto";
}
.BTCSymbol {
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  font-size: 200%;
  font-family: emoji, "Roboto";
}

.EnergyInputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
  height: 10%;
}
.EnergyMint {
  padding: 5px 5%;
  margin: 0px 2%;
}

.PtableContainer {
  width: 50%;
  height: 90%;
  border-style: solid;
  border-width: 1px;
  align-self: center;
  border-radius: 10px;
  margin: 0px;
  background-color: white;
  box-shadow: 0px 0px 20px -10px;
}

.PtableCanvas {
  max-height: 80%;
  margin: 10px;
  max-width: 95%;
}

.PtableInputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
  max-height: 10%;
  flex-basis: 10px;
  
}
.PtableInput {
  width: 50%;
  padding: 5px;
}
.ElementDisplay {
  border-style: groove;
  border-radius: 0px;
  padding: 0px 5px;
  margin: 0px 5px;
}
.PtableMint {
  padding: 5px 5%;
  margin: 0px 5%;
}
.MassText {
  margin: 0px 10px;
}

.CraftContainer{
  height: 500px;
  box-shadow: 0px 0px 90px -10px;
}
.MyIMG {
  width: 500px;
}

.UnityObject {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  border-radius: 10px;
}
.hiddenStyle {
  display: none;
}
.HoverDropdown {
  background-color: rgb(243, 230, 255);
  position: absolute;
  width: inherit;
  width: 15vw;
  min-height: 30vh;
  border-radius: 10px;
  top: 16vh;
  z-index: -1;
}
.ButtonMenu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px;
  border-radius: 50px;
  padding: 0px;
  align-items: center;
}
.DropDownContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1vw;
  font-weight: 100;
}